{% extends "layout.html" %}

{% block body%}

<br>
<div id="page-content">
    <div id="profile" class="container" style="background-color:rgb(241, 246, 252);">
        
        <div class="row">
            <div class="col-sm-4 text-center">
                <img src="static/MustufaJan/profile_pic.jpg" alt="Mustufa Jan">
            </div>
            <div class="col-md-8">
                <h2>Mustufa Jan</h2>
                <h3>Software Developer</h3>
                <p>Agile and proactive engineering professional with an ability to produce high-quality business outcomes and solutions adhering
                     to tight deadlines while working under agile project management frameworks. 
                    Keenly interested in backend software development and eager to grasp new skills and concepts.  </p>
            </div>
        </div>

    </div>
    <br><br>
        <h3 style="text-align: center;"> <strong>Here's what I've done so far</strong></h3>

    <div id="points" class="container" style="background-color:rgb(241, 246, 252);">
        
        <div class="row">
            <div class="col-sm-4 text-center">
                <img src="static/MustufaJan/TRU.jpg" alt="Mustufa Jan">
            </div>
            <div class="col-md-8">
                <h3>TRU Simulation + Training</h3>
                <h4><strong>Technical Coordinator, <i>(Jan 2017 – November 2019</i>)</strong></h4>
                <h6>Montreal, Canada</h6>
                <p>Coordinated and supported the hardware and software engineering teams to develop new products 
                    and resolve issues on the existing product line. Performed initial diagnosis on the customer raised discrepancies 
                    on the frontend and backend of the product. Resolved product backend discrepancies, developed multiple frontend and backend simulation systems in collaboration with senior software engineers using C++. Controlled product load versioning while merging engineering solutions to the product load and resolving merge conflicts. Product lifecycle technologies include C++ and GitHub. Recognized with company’s ‘Going above and beyond’ employee award based on colleague’s feedback and chosen to represent the company at 
                    Boeing’s Annual Partners event at Boeing’s HQ in Seattle, among company’s senior executives.  </p>
            </div>
        </div>

    </div>
    
</div>

{% endblock %}

